* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Verdana, Geneva, sans-serif;
  background-color: #f6f6ef;
  color: #333;
  line-height: 1.5;
}

code {
  font-family: monospace;
}
